# DB_TYPE=memory
DB_TYPE=postgres
# Only needed if using postgres
# DB_HOST=
# DB_PORT=
# DB_USER=
# DB_PASSWORD=
# DB_NAME=

JWT_SECRET=your-super-secret-jwt-key

ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=admin
ADMIN_NAME=Admin
ADMIN_USERNAME=admin
